<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wordreminder.demo.mapper.RemindWordsMapper">
    <select id="findById" resultType="com.wordreminder.demo.model.RemindWords">
        SELECT * FROM RemindWords WHERE id = #{id}
    </select>
    <select id="findByuserId" resultType="com.wordreminder.demo.model.RemindWords">
        SELECT * FROM RemindWords WHERE userId = #{userId}
    </select>

    <insert id="insert">
        INSERT INTO RemindWords(userId,wordId,word,defining,testTimes,rightTimes,status) VALUES(#{userId},#{wordId},#{word},#{defining},0,0,0)
    </insert>

    <select id="selectAll" resultType="com.wordreminder.demo.model.RemindWords">
        select * from RemindWords limit #{pageStart}, #{pageSize};
    </select>

    <delete id="delete" >
        delete from RemindWords where id = #{id};
    </delete>


</mapper>
