<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wordreminder.demo.mapper.UserMapper">
    <select id="findById" resultType="com.wordreminder.demo.model.User">
        SELECT * FROM User WHERE id = #{id}
    </select>
    <select id="getCreateTimeById" resultType="java.lang.String">
        SELECT create_time FROM User WHERE id = #{id}
    </select>
    <select id="countById" resultType="java.lang.Integer">
        SELECT count(*) FROM User WHERE id = #{id}
    </select>

    <insert id="insert">
        INSERT INTO User(id, create_time,session_key,status) VALUES(#{id}, #{create_time},#{session_key},#{status})
    </insert>


    <update id="updateUserProfile" parameterType="com.wordreminder.demo.model.UserProfile">
        update User set user_profile= #{user_profile} where id=#{id};
    </update>


</mapper>
