<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wordreminder.demo.mapper.UserWordsMapper">
    <select id="findById" resultType="com.wordreminder.demo.model.UserWords">
        SELECT * FROM UserWords WHERE id = #{id}
    </select>

    <insert id="insert">
        INSERT INTO UserWords(userId,word, defining,nextTime,createTime,imgPath,level,isInRemind) VALUES(#{userId},#{word}, #{defining},#{nextTime},#{createTime},#{imgPath},1,0)
    </insert>

    <select id="selectAll" resultType="com.wordreminder.demo.model.UserWords">
        select id,word,defining,imgPath from UserWords where userId =#{userId} ORDER BY createTime DESC limit #{recordStart}, #{recordSize}
    </select>

    <select id="selectRemind" resultType="com.wordreminder.demo.model.UserWords">
        select * from UserWords where isInRemind = 0 and #{currentTime}>nextTime  ;
    </select>
    <delete id="delete" >
        delete from UserWords where id = #{id};
    </delete>
    <update id="updateLevel" >
        delete from UserWords where id = #{id};
    </update>
    <update id="updateIsInRem" >
        update  UserWords set isInRemind= 1  where id = #{id};
    </update>

    <update id="update" >
        update  UserWords set word= #{word}, defining=#{defining},imgPath = #{imgPath} where id =#{id};
    </update>


</mapper>
